<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ask.here</title>
    <link rel="stylesheet" href="/static/style.css">
  
    <style>
        .no-resize {
            resize: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center"></h1>
        {% if response %}
            <div class="response-box" style="text-align: center">
                <div class="response-text">{{ response }}</div>
            </div>
            {% if response %}
                <div style="text-align: center">
                    <a href="{{ url_for('index') }}" class="button">Ask again</a>
                </div>
            {% endif %}
        {% else %}
            <form method="post" action="/" style="text-align: center" onsubmit="submitForm(event)">
                <label for="name"></label>
                <input type="text" id="name" name="name" placeholder="<Your name>" required>
                <br>
                <label for="prompt"></label>
                <br>
                <textarea id="prompt" name="prompt" class="no-resize" placeholder="<Type your question here>" required></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        {% endif %}
        <div class="powered-by" style="text-align: center">
            <small>powered by: ChatGPT</small>
        </div>
    </div>
    
    <script>
        const form = document.querySelector('form');
        form.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                event.preventDefault();
                form.submit();
            }
        });
    </script>
</body>
</html>
